---
const { posts } = Astro.props;
---
<section class="elementor-section elementor-top-section elementor-element elementor-element-113e3b9d ignore-toc elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="113e3b9d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5883c9af" data-id="5883c9af" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-3397bb67 elementor-widget elementor-widget-heading" data-id="3397bb67" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<div class="elementor-heading-title elementor-size-default">Related Posts</div>		</div>
</div>
<div class="elementor-element elementor-element-16582fdf elementor-widget-divider--view-line_text elementor-widget-divider--element-align-right elementor-widget elementor-widget-divider" data-id="16582fdf" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
    </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-5596731a elementor-grid-4 elementor-posts--align-left elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts" data-id="5596731a" data-element_type="widget" data-settings="{&quot;classic_columns&quot;:&quot;4&quot;,&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
<div class="elementor-widget-container">
<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid">
    {

       posts.map( (blog) =>{
         return (
         <article class="elementor-post elementor-grid-item post-33044 post type-post status-publish format-standard has-post-thumbnail hentry category-partner-news tag-partner-news tag-tsplus-news tag-tsplus-partners">
<a class="elementor-post__thumbnail__link" href={blog.frontmatter.link} tabindex="-1" >
<div class="elementor-post__thumbnail"><img width="2000" height="600" src={blog.frontmatter.imageLink} class="attachment-full size-full wp-image-31907" alt="TSpulse Monthly News" loading="lazy" /></div>
</a>
<div class="elementor-post__text">
<h3 class="elementor-post__title">
<a href={blog.frontmatter.link} >
{blog.frontmatter.title}		</a>
</h3>
<div class="elementor-post__excerpt">
<p>{blog.frontmatter.excerpt}</p>
</div>
<div class="elementor-post__read-more-wrapper">

<a class="elementor-post__read-more" href={blog.frontmatter.link} aria-label="Read more about Important information–TSplus Remote Access v15 major release is here!" tabindex="-1" >
Read article →		</a>

</div>
</div>
</article>
         )
         
         
       
      } )
    } 
    

</div>

</div>
</div>
</div>
</div>
        </div>
</section>